@media (max-width: 992px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 7px;
    }
}

body {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?cs=srgb&dl=pexels-sebastian-ervi-1763075.jpg&fm=jpg&w=1920&h=1372');
    background-size: stretch;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dd-countdown-timer {
    width: 70vw;
    min-width: 225px;
    margin: 7vh auto;
    font-family: Oswald;
    padding: 0 0;
    filter: hue-rotate(140deg);  
}

.dd-countdown-timer-head {
    background-color: blue;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    margin-bottom: 2px;
}

.dd-countdown-timer-body {
    background-color: navy;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

.dd-h1, .dd-h3 {
    line-height: 1.5em;
    margin:0 0;
    text-align: center;
    color: white;
}

.dd-h1 {
    margin: 0 0;
    font-family: Lobster;
}

.dd-h3 {
    margin: 0 0;
    padding-top: 0.2em;
    letter-spacing: 0.3em;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}

.is-countdown .countdown-amount {
    font-size: 3rem;
}

.is-countdown .countdown-period {
    text-transform: uppercase;
    font-size: 1.6rem;
}

.is-countdown {
    min-height: 8rem;
    background-color: inherit;
    color: white;
    border: none;
    border-radius: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    width: 1920px;
    opacity: 0.9;
}
